1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [18]:
for i in range(1,101):
    if i%3==0 and i%5!=0: print("Mickey")
    if i%5==0 and i%3!=0: print("Mouse")
    if i%3==0 and i%5==0: print("MickeyMouse")
    else: print(i)

1
2
Mickey
3
4
Mouse
5
Mickey
6
7
8
Mickey
9
Mouse
10
11
Mickey
12
13
14
MickeyMouse
16
17
Mickey
18
19
Mouse
20
Mickey
21
22
23
Mickey
24
Mouse
25
26
Mickey
27
28
29
MickeyMouse
31
32
Mickey
33
34
Mouse
35
Mickey
36
37
38
Mickey
39
Mouse
40
41
Mickey
42
43
44
MickeyMouse
46
47
Mickey
48
49
Mouse
50
Mickey
51
52
53
Mickey
54
Mouse
55
56
Mickey
57
58
59
MickeyMouse
61
62
Mickey
63
64
Mouse
65
Mickey
66
67
68
Mickey
69
Mouse
70
71
Mickey
72
73
74
MickeyMouse
76
77
Mickey
78
79
Mouse
80
Mickey
81
82
83
Mickey
84
Mouse
85
86
Mickey
87
88
89
MickeyMouse
91
92
Mickey
93
94
Mouse
95
Mickey
96
97
98
Mickey
99
Mouse
100

In [52]:
a=[]
for i in range(1,101):
    if i%3==0 and i%5!=0: a.append("Mickey")
    if i%5==0 and i%3!=0: a.append("Mouse")
    if i%3==0 and i%5==0: a.append("MickeyMouse")
    else: a.append(i)

dictionary={'Mickey':'Donald','Mouse':'Duck','MickeyMouse':'DonaldDuck'}
        
a=[dictionary.get(i,i) for i in a]
b=tuple(a)
print(b)

(1, 2, 'Donald', 3, 4, 'Duck', 5, 'Donald', 6, 7, 8, 'Donald', 9, 'Duck', 10, 11, 'Donald', 12, 13, 14, 'DonaldDuck', 16, 17, 'Donald', 18, 19, 'Duck', 20, 'Donald', 21, 22, 23, 'Donald', 24, 'Duck', 25, 26, 'Donald', 27, 28, 29, 'DonaldDuck', 31, 32, 'Donald', 33, 34, 'Duck', 35, 'Donald', 36, 37, 38, 'Donald', 39, 'Duck', 40, 41, 'Donald', 42, 43, 44, 'DonaldDuck', 46, 47, 'Donald', 48, 49, 'Duck', 50, 'Donald', 51, 52, 53, 'Donald', 54, 'Duck', 55, 56, 'Donald', 57, 58, 59, 'DonaldDuck', 61, 62, 'Donald', 63, 64, 'Duck', 65, 'Donald', 66, 67, 68, 'Donald', 69, 'Duck', 70, 71, 'Donald', 72, 73, 74, 'DonaldDuck', 76, 77, 'Donald', 78, 79, 'Duck', 80, 'Donald', 81, 82, 83, 'Donald', 84, 'Duck', 85, 86, 'Donald', 87, 88, 89, 'DonaldDuck', 91, 92, 'Donald', 93, 94, 'Duck', 95, 'Donald', 96, 97, 98, 'Donald', 99, 'Duck', 100)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [31]:
print("x =")
x=input()
print("y =")
y=input()
a=(x,y)
x=a[1]
y=a[0]
print("x = ",x, "y =",y)

x =
3
y =
6
x =  6 y = 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [35]:

def distance():
    print("insert u components")
    u=(int(input()),int(input()))
    print("insert v components")
    v=(int(input()),int(input()))
    
    dist=pow(pow(u[0]+v[0],2)+pow(u[1]+v[1],2),0.5)
    print("the euclidean distance is: ", dist)
    
distance()

insert u components
3
0
insert v components
0
4
the euclidean distance is:  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [38]:
print("insert the string")
s=input()

freq={}

for i in s: 
    if i in freq: 
        freq[i]+=1
    else: 
        freq[i]=1
        
print(freq)

insert the string
ciaoo
{'c': 1, 'i': 1, 'a': 1, 'o': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [39]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

freq={} 

for i in l: 
    if i in freq: 
        freq[i]+=1
    else: 
        freq[i]=1
        
print(freq)

{36: 3, 45: 3, 58: 1, 3: 2, 74: 1, 96: 1, 64: 1, 31: 2, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 63: 2, 70: 3, 85: 3, 47: 1, 56: 2, 42: 2, 84: 4, 88: 1, 55: 1, 20: 3, 54: 1, 8: 1, 51: 3, 79: 1, 81: 1, 57: 1, 37: 1, 91: 3, 1: 1, 66: 2, 9: 1, 89: 2, 50: 2, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 34: 2, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [40]:
def square(a):
    result=pow(a,2)
    return result

def cube(b):
    result=pow(b,3)
    return result

def sixth(c):
    result=pow(cube(c),2)
    return result

print("insert number")
print(sixth(int(input())))

insert number
10
1000000

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [20]:
for i in range(0,11):
    i=pow(i,3)
    print(i)
    
cube=[i**3 for i in range(11)]
print(cube)

0
1
8
27
64
125
216
343
512
729
1000
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [41]:
for b in range(1,100):
    for a in range(1,b):
        c=pow(a**2+b**2,0.5)
        if c%1==0:
            print(a,b,int(c))

3 4 5
6 8 10
5 12 13
9 12 15
8 15 17
12 16 20
15 20 25
20 21 29
7 24 25
10 24 26
18 24 30
21 28 35
16 30 34
24 32 40
12 35 37
15 36 39
27 36 45
9 40 41
30 40 50
40 42 58
33 44 55
24 45 51
28 45 53
14 48 50
20 48 52
36 48 60
39 52 65
48 55 73
33 56 65
42 56 70
11 60 61
25 60 65
32 60 68
45 60 75
16 63 65
60 63 87
48 64 80
51 68 85
24 70 74
21 72 75
30 72 78
54 72 90
65 72 97
40 75 85
57 76 95
36 77 85
18 80 82
39 80 89
60 80 100
13 84 85
35 84 91
63 84 105
80 84 116
66 88 110
48 90 102
56 90 106
60 91 109
69 92 115
28 96 100
40 96 104
72 96 120
20 99 101

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [47]:
a=[]
sum=0

print("how many number you want to normalized?")
n=int(input())
print("insert the ", n, " numbers")
for i in range(0,n):
    a.append(int(input()))
    sum=sum+a[i]

for i in range(0,n):
    a[i]=a[i]/sum


    
b=tuple([float("{0:.2f}".format(i)) for i in a]) #I cut the decimal numbers after the second
    
print(b)

how many number you want to normalized?
4
insert the  4  numbers
5
4
3
54
(0.08, 0.06, 0.05, 0.82)